#se1 {
    text-align: center;
    width: 100%;
    height:150px;
    background-color:brown;
}
#sec1{
    display:flex ;
}
#art1
{
    width:max-content ;
}
h3{
    font-size: 19px;
}
#art2
{
    width:650px ;
}
#art15
{
    width:350px ;
    line-height: 24px
}
#se1 h1{
    color: white;
    padding: 40px 0px 0px 0px;
}
#se1 h5{
    color: white;
    /*padding: -10px 0px 0px 0px*/;
}
#art2{
    width: 750px;
}
h3{
    color: brown;
    text-decoration: underline;
}
#sec12{
    margin: 0px 98px 0px 46px;
}
#sec12 li {
    font-size: 18.5px;
}
#sec12 p{
    font-size: 18.5px;
}
#sec2{
    margin: 0px 147px 1px 0px;
}
#sec2 li{
    font-size: 18.5px;
    line-height: 24px;
}
#sec2 blockquote{
    font-size: 18.5px;
    line-height: 22px;
}
#sec2 table{
    font-size: 18.5px;
}
    